{{ define "main" }}

<!-- blogs -->
<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 order-2 order-lg-1 mb-4">
        <div class="row">
          <!-- blog post -->
          {{ $paginator := .Paginate ( where $.Site.RegularPages "Section" "blog" ) }}
          {{ range $paginator.Pages }}
          <div class="col-md-6 mb-5">
				    {{ .Render "post" }}
          </div>
          {{ end }}
          <div class="col-12 mt-4">
            {{ template "_internal/pagination.html" . }}
          </div>
        </div>
      </div>
      {{ partial "blog-sidebar.html" . }}
    </div>
  </div>
</section>
<!-- /blogs -->

{{ end }}
