<article class="card rounded-0 border-bottom border-primary border-top-0 border-left-0 border-right-0 hover-shadow">
  <div class="d-flex flex-column justify-content-center " style="height: 308px; background-color: black;">
    {{ partial "image.html" . }}
  </div>
  <div class="card-body d-flex flex-column justify-content-between" style="min-height: 309px;">
    <!-- post meta -->
    <ul class="list-inline mb-2">
      <!-- post date -->
      {{ if .Params.Location }}
      <p><i class="ti-location-pin text-primary mr-2"></i>{{ .Params.Location | markdownify }}</p>
      {{ else }}
      <li class="list-inline-item mr-3 ml-0"><i class="ti-calendar"></i> {{ .PublishDate.Format "02 Jan, 2006" }}</li>
      {{ end }}
      {{ partial "authors.html" . }}
    </ul>
    <h4 class="card-title"><a href="{{ .Permalink }}">{{ .Title | truncate 30 }}</a></h4>
    <p class="card-text">{{ .Summary | truncate 100 }}</p>
    <a href="{{ .Permalink }}" class="btn btn-primary btn-sm">{{ i18n "read_more" }}</a>
  </div>
</article>
