{{ define "main" }}

<!-- courses -->
<section class="section">
  <div class="container">
    <!-- course list -->
    <div class="row justify-content-center">
      <!-- course item -->
      {{ $paginator := .Paginate ( where .Site.RegularPages "Section" "media_statements" ) 9 }}
      {{ range $paginator.Pages }}
      <div class="col-lg-4 col-md-6 mb-5">
        {{ .Render "post" }}
      </div>
      {{ end }}
      <div class="col-12 mt-4">
        {{ template "_internal/pagination.html" . }}
      </div>
    </div>
    <!-- /course list -->
  </div>
</section>
<!-- /courses -->

{{ end }}
