{{ define "main" }}

<!-- events -->
<section class="section">
  <div class="container">
    <div class="row">
      {{ $paginator := .Paginate ( where .Site.RegularPages "Section" "states" ) 9 }}
      {{ range $paginator.Pages }}
      <div class="col-lg-4 col-md-6 mb-5">
        {{ .Render "post" }}
      </div>
      {{ end }}
      <div class="col-12 mt-4">
        {{ template "_internal/pagination.html" . }}
      </div>
    </div>
  </div>
</section>
<!-- /events -->

{{ end }}
