// Color Variables
$primary-color: #bf1e2e;
$secondary-color: #000000;
$navbar-color: #000000;
$text-color: #000000;
$text-color-light: #8585a4;
$text-color-dark: #b11615;
$body-color: #faf7f3;
$border-color: #ededf1;
$black: #000000;
$white: #ffffff;
$light: #f8f9fe;
$gray: #eeeeee;
$feature-color: #ffffff;
$feature-bordercolor: #1e1e4b;
$link-color: #fba404;
$footerlink-color: #000000;

// Font Variables
$primary-font: "Poppins", sans-serif;
$secondary-font: "futura-bold";
$icon-font: "themify";
